.navBar {
  position: relative;
  background: transparent;
  display: flex;
  /* position: sticky; */
  top: 0;
  /* height: 80px; */

  z-index: 999;
}
.navBar.active {
  background-color: black;
  background: transparent;
  position: sticky;
}
