.navBar {
  /* background: transparent; */
  /* display: flex; */
  /* position: sticky; */
  height: 80px;
  /* z-index: 999; */
  min-width: 480px
}
.active {
  background-color: black!important;
  top: 0;
  height: 80px;
}